@use './abstracts/' as *;

@mixin mQ($size) {
    @media (max-width: $size){
        @content;
    }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: $green-accent;
    font-family: $font-family;
    font-weight: $fw-700;
    scroll-behavior: smooth;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.alert {
    border: $red solid 1px !important;
}
.error-message {
        color:$red;
}
.contact-form {
    background-color: $white;
    padding: 2.5rem;
    margin: auto;
    max-width: 46rem; /* 736px */
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    h1 {
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: $fw-700;
        letter-spacing: -1px;
        // cursor:zoom-in;
    }
    & label {
        font-weight: $fw-400;
        font-size: 1.125rem;
        font-family: $font-family;
        margin-block: 1rem;
    }
    & input[type="text"] {
        text-transform: capitalize;
    }
    & input[type="text"], input[type="email"] {
        max-height: 1.6875rem;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        border: $green-accent solid 1px;
        outline: none;
        padding: 1.5rem 1.333rem;
        font-family: $font-family;
        font-weight: $fw-400;
        font-size: 1.125rem;

        &:hover, &:focus {
            border: $green-main solid 1px;
        }
    }
    textarea {
        width: 100%;
        min-height: 5.0625rem;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        border: $green-accent solid 1px;
        outline: none;
        padding: 1.5rem 1.333rem;
        font-family: $font-family;
        font-weight: $fw-400;
        font-size: 1.125rem;
        resize: vertical;
        overflow: hidden;
        &:hover, &:focus {
            border: $green-main solid 1px;
        }
    }

    @include mQ(40rem) {
        padding: 1rem 1.5rem;
        margin: 2rem 1rem;
    }
}

.form-labler {
    width: 100%;
    display: flex;
    gap: 1rem;
    &__fname, &__lname, &__email, &__radio, &__option, &__message, &__agreement {
        width: 100%;
        display: flex;
        flex-direction: column;
    }    
    .radio-container {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        .radio-option {
            display: flex;
            align-items: center;
            padding: 1rem 1.5rem;
            border: $green-accent solid 1px;
            width: 100%;
            gap: 1.333rem;
            border-radius: 0.5rem;

            &:has(input:checked) {
                background-color: $green-accent;
                border: $green-main solid 1px;
                
            }
            &:hover{
                border: $green-main solid 1px;
                cursor: pointer;
            }
        }
        input[type="radio"] {width: 1.5rem; height: 1.5rem; accent-color: $green-main; background-color: $green-main;
            &:hover{
                cursor: pointer;
            }}
        label {margin:0;
            &:hover{
                cursor: pointer;
            }            
        }
        @include mQ(40rem) {
            flex-direction: column;
        }
    }
    input[type="checkbox"] {width: 1.5rem; height: 1.5rem; accent-color: $green-main; background-color: $green-main;
        outline: none;
    &:hover {
        border: $green-main solid 1px;
    }}
    @include mQ(40rem) {
        flex-direction: column;
        gap:0;
    }
    .checkbox-container {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1rem;
        margin-block: 1rem;
        font-size: 1rem;
        &:hover, label:hover, input:hover{
            cursor: pointer;
        }
    }
    
}
button {
    border: none;
    background-color: $green-main;
    color: $white;
    font-family: $font-family;
    margin-block: 1rem;
    padding: 1rem;
    width: 100%;
    font-weight: $fw-700;
    font-size: 1.125rem;
    border-radius: 0.5rem;
    transition: all 0.4s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: scale(0.99);
        opacity: 0.7;
    }
        }
.toast {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    top: 1.5rem;
    min-width: 317px;
    background-color: $green-main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.75rem;
    padding: 1.5rem;
    color: $white;
    .toast-header{
        display: flex;
        align-items: center;
        gap: 0.625rem;
        margin-bottom: 0.5rem;
        font-size: 1.125rem;
        font-weight: $fw-700;
    }
    p {
        font-size: 1rem;
        font-weight: $fw-400;
    }
}
.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }