// PRIMARY
$green-main: hsl(169, 82%, 27%);
$green-accent: hsl(148, 38%, 91%);
$red: hsl(0, 66%, 54%);

//  NEUTRAL
$white: hsl(0, 0%, 100%);
$gray-main: hsl(187, 24%, 22%);
$gray-accent: hsl(186, 15%, 59%);